body {
    text-align: center;
    position: relative;
}

header {
    height: 50px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    top: 0;
}

#flexbox {
    display: flex;
    justify-self: start;
    justify-content: space-around;
}
.flex {
    border-color: green;
    border-style: solid;
    border-width: 3px;
    margin: 0px 10px;
    padding-bottom: 5px;
}
.flextitle {
    background-color: gray ;
    margin-top: 0;
    height: 30px;
}
footer {
    background-color: lightgray;
    display: flex;
    justify-content:flex-end;
    padding: 5px;
    
    flex-direction: row;

}
li {
    list-style: none;
}
#copyright {
    padding: 5px;
}